.root {
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    color: red;
}

#aboutMe {
    color: white;
    display: flex;
    flex-direction: row;
}

a:hover {
    background-color: orange;
}

.sectionDiv {
    flex-wrap: wrap-reverse;
    flex-direction: row;
    flex-direction: column;
}